@tailwind base;
@tailwind components;
@tailwind utilities;


.bgColor{
    background-color: #043873;
}

.sidebar {
    background-color: #043873;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    transform: translateX(-100%);
}
.sidebar.open {
    transform: translateX(0);
}
.sidebar-link {
    transition: all 0.3s ease-in-out;
}
.sidebar-link:hover {
    transform: translateX(3px);
}